/* *{
    border: 1px dashed green ;
} */

/* Light theme */
:root {
    --background-color: #f5f5f5;
    --text-color: #333;
}
  
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
  
  /* Dark theme */
.dark-theme {
    --background-color: #333;
    --text-color: #f5f5f5;
}

dialog .dark{
    color-scheme: dark light;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5vh;
    height: 10%;
    width: 100%;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(194,68,93,1) 100%); 
    padding-bottom: 6px;
    padding-left: 8px;
}

nav img {
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    padding-top: 5px;
    
}
nav button img {
    margin-right: 20px;
}

nav header {
    color: white;
    font-size: 36px;
    padding-top: 5px;
    padding-left: 10px;
    height: 100%;
    display: inline;
}

header span.hidden {
    display: none;
}

header:hover span.hidden {
    display: inline;
}


/*ASIDE*/

.home-container {
    display: flex;
    flex-direction: row;
}

aside {
    height: 90vh;
    min-width: 300px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

aside header {
    padding :8px;
    font-size: 24px;
    padding-bottom: 12px;
}

aside main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: max-content;
    gap: 10px;
    padding-top: 10px;
}

.cool-bottom-border {
    position: relative;
}

.cool-bottom-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 44%; /* Center the border horizontally */
    width: 80%; /* Set the width to 50% of the parent element */
    height: 2px; /* Adjust the height of the bottom border as needed */
    background: linear-gradient(to right, #3498db, #e74c3c); /* Use your desired gradient colors */
    transform: translateX(-50%); /* Center the border horizontally */
}

aside article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96%;
    height: 56px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

aside article:hover {
    background-color: lightblue;
    color: #fff;
}



.create-project {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-project input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.create-project button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.create-project button:hover {
    background-color: #333;
    color: #fff;
    
}

.create-project button:hover svg{
    stroke: #fff;
}
/* TO-DOS Section */

.home{
    padding: 10px;
    width: 100%;
}
.home header {
    display: flex;
    justify-content: space-between;
}

.home header h1 {
    font-size: 34px;
}


/*FOOTER*/

footer {
    height: 4vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    padding-right: 8px;
}

footer img {
    height: 24px;
    width: 24px;
}

